In [1]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import jensenshannon
from scipy.stats import wasserstein_distance

In [9]:
df_true = pd.read_csv('Xtrue.csv')
df_gen = pd.read_csv('Xgen_ver2.csv')

In [10]:
df_gen.head()

,Unnamed: 0,state,sex,race,marst,famsize,bpl,citizen,hispan,health,sect,schoolyr,age
0,0,29.0,0.0,1.0,1.0,2.0,1.0,1.0,0.0,3.0,2.0,16.0,42.0
1,1,38.0,1.0,1.0,1.0,4.0,1.0,1.0,0.0,1.0,5.0,16.0,42.0
2,2,48.0,0.0,1.0,1.0,6.0,1.0,1.0,0.0,3.0,4.0,13.0,51.0
3,3,13.0,1.0,1.0,0.0,4.0,2.0,0.0,1.0,1.0,0.0,9.0,43.0
4,4,8.0,1.0,1.0,1.0,5.0,1.0,1.0,0.0,3.0,5.0,18.0,41.0

In [11]:
df_true.head()

,year,state,sex,race,marst,famsize,bpl,citizen,hispan,health,nextSect,sect,wage,schoolyr,age
0,1995,23,1,1,0,3,1,1,0,1,0,0,NaN,12.0,38
1,1996,23,0,1,0,3,1,1,0,2,2,2,0.453636,14.0,32
2,1997,23,1,1,0,1,1,1,0,1,5,5,0.854772,14.0,29
3,1998,23,1,1,1,3,1,1,0,2,5,5,0.567462,18.0,48
4,1999,23,1,1,0,2,3,1,0,2,5,5,1.160019,21.0,50

In [12]:
np.linspace(0, 1, 2)

array([0., 1.])

In [28]:
# Calculate histograms
range_min, range_max = 0, 1  
bins = np.linspace(range_min, range_max, 2) 
hist1, _ = np.histogram(df_true['sex'],  bins=bins, density=True)
hist2, _ = np.histogram(df_gen['sex'], bins=bins, density=True)
js_divergence = jensenshannon(hist1, hist2) ** 2
print("Jensen-Shannon Divergence of Sex:", js_divergence)

Jensen-Shannon Divergence of Sex: 0.0

In [29]:
# Calculate histograms
range_min, range_max = 0, 1  
bins = np.linspace(range_min, range_max, 2) 
hist1, _ = np.histogram(df_true['marst'],  bins=bins, density=True)
hist2, _ = np.histogram(df_gen['marst'], bins=bins, density=True)
js_divergence = jensenshannon(hist1, hist2) ** 2
print("Jensen-Shannon Divergence of Marst:", js_divergence)

Jensen-Shannon Divergence of Marst: 0.0

In [30]:
# Calculate histograms
range_min, range_max = 1,3  
bins = np.linspace(range_min, range_max, 3)  
hist1, _ = np.histogram(df_true['race'],  bins=bins, density=True)
hist2, _ = np.histogram(df_gen['race'], bins=bins, density=True)
js_divergence = jensenshannon(hist1, hist2) ** 2
print("Jensen-Shannon Divergence of Race:", js_divergence)

Jensen-Shannon Divergence of Race: 3.807733889776192e-05

In [31]:
# Calculate histograms
range_min, range_max = 1,56  
bins = np.linspace(range_min, range_max, 56)  
hist1, _ = np.histogram(df_true['state'],  bins=bins, density=True)
hist2, _ = np.histogram(df_gen['state'], bins=bins, density=True)
js_divergence = jensenshannon(hist1, hist2) ** 2
print("Jensen-Shannon Divergence of State:", js_divergence)

Jensen-Shannon Divergence of State: 0.038398104902532884

In [32]:
range_min, range_max = 1,16  
bins = np.linspace(range_min, range_max, 16) 
hist1, _ = np.histogram(df_true['famsize'],  bins=bins, density=True)
hist2, _ = np.histogram(df_gen['famsize'], bins=bins, density=True)
js_divergence = jensenshannon(hist1, hist2) ** 2
print("Jensen-Shannon Divergence of famsize:", js_divergence)

Jensen-Shannon Divergence of famsize: 0.009834271667270718

In [33]:
range_min, range_max = 1,5 
bins = np.linspace(range_min, range_max, 5)  # 100 bins
hist1, _ = np.histogram(df_true['bpl'],  bins=bins, density=True)
hist2, _ = np.histogram(df_gen['bpl'], bins=bins, density=True)
js_divergence = jensenshannon(hist1, hist2) ** 2
print("Jensen-Shannon Divergence of bpl:", js_divergence)

Jensen-Shannon Divergence of bpl: 8.356455484212801e-05

In [34]:
range_min, range_max = 0,1 
bins = np.linspace(range_min, range_max, 5) 
hist1, _ = np.histogram(df_true['citizen'],  bins=bins, density=True)
hist2, _ = np.histogram(df_gen['citizen'], bins=bins, density=True)
js_divergence = jensenshannon(hist1, hist2) ** 2
print("Jensen-Shannon Divergence of citizen:", js_divergence)

Jensen-Shannon Divergence of citizen: 8.228847493933746e-06

In [35]:
range_min, range_max = 0,1 # Define suitable range based on your data characteristics
bins = np.linspace(range_min, range_max, 5)  
hist1, _ = np.histogram(df_true['hispan'],  bins=bins, density=True)
hist2, _ = np.histogram(df_gen['hispan'], bins=bins, density=True)
js_divergence = jensenshannon(hist1, hist2) ** 2
print("Jensen-Shannon Divergence of hispan:", js_divergence)

Jensen-Shannon Divergence of hispan: 2.6403470572393048e-05

In [36]:
range_min, range_max = 1,5 
bins = np.linspace(range_min, range_max, 5)  
hist1, _ = np.histogram(df_true['health'],  bins=bins, density=True)
hist2, _ = np.histogram(df_gen['health'], bins=bins, density=True)
js_divergence = jensenshannon(hist1, hist2) ** 2
print("Jensen-Shannon Divergence of health:", js_divergence)

Jensen-Shannon Divergence of health: 0.0002494835021649049

In [37]:
range_min, range_max = 0,5 
bins = np.linspace(range_min, range_max, 6) 
hist1, _ = np.histogram(df_true['sect'],  bins=bins, density=True)
hist2, _ = np.histogram(df_gen['sect'], bins=bins, density=True)
js_divergence = jensenshannon(hist1, hist2) ** 2
print("Jensen-Shannon Divergence of sector:", js_divergence)

Jensen-Shannon Divergence of sector: 0.0009674165236317981

In [38]:
range_min, range_max = 0,21
bins = np.linspace(range_min, range_max, 43) 
hist1, _ = np.histogram(df_true['schoolyr'],  bins=bins, density=True)
hist2, _ = np.histogram(df_gen['schoolyr'], bins=bins, density=True)
js_divergence = jensenshannon(hist1, hist2) ** 2
print("Jensen-Shannon Divergence of schoolyr:", js_divergence)

Jensen-Shannon Divergence of schoolyr: 0.017835819248235518

In [39]:
range_min, range_max = 25,60
bins = np.linspace(range_min, range_max, 36) 
hist1, _ = np.histogram(df_true['age'],  bins=bins, density=True)
hist2, _ = np.histogram(df_gen['age'], bins=bins, density=True)
js_divergence = jensenshannon(hist1, hist2) ** 2
print("Jensen-Shannon Divergence of age:", js_divergence)

Jensen-Shannon Divergence of age: 0.03568713560577498